<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link rel="stylesheet" href="/style/common/global.css">
  <link rel="stylesheet" href="/style/common/nav.css">
  <link rel="stylesheet" href="/style/home/home.css">
  <title></title>
</head>
<body>

<div class="">
  <%- include('components/nav') %>
  <div class="main">
    <!--分类标签-->
    <div class="category-tags">
      <ul>
        <li><a href="/article">全部</a></li>
        <% tags.forEach(function (item) { %>
          <li><a href="/article?cateId=<%= item._id %>"><%= item.label %></a></li>
        <% }) %>
      </ul>
    </div>
    <!--内容区-->
    <div class="content-area">
      <div class="left-area">
        <!--文章列表-->
        <div id="articles-wrapper" class="articles-wrapper">
          <% articles.forEach(function (item) { %>
          <div class="article-item">
            <div class="article-header">
              <span>作者：<span><%= item.author %></span></span>
              <span class="published-at">发布时间：<%= item.meta.createdAt %></span>
            </div>
            <h3><a href="/article/details?id=<%= item._id %>"><%= item.title %></a></h3>
            <p><%= item.summary %></p>
            <div class="article-footer">
              <div class="comments-wrapper">
                <span class="category">分类：<%= item.cateLabel %></span>
                <svg class="Zi Zi--Comment Button-zi" fill="currentColor" viewBox="0 0 24 24" width="1.2em" height="1.2em">
                  <path d="M10.241 19.313a.97.97 0 0 0-.77.2 7.908 7.908 0 0 1-3.772 1.482.409.409 0 0 1-.38-.637 5.825 5.825 0 0 0 1.11-2.237.605.605 0 0 0-.227-.59A7.935 7.935 0 0 1 3 11.25C3 6.7 7.03 3 12 3s9 3.7 9 8.25-4.373 9.108-10.759 8.063z" fill-rule="evenodd"></path>
                </svg>
                <span class="comments"><%= item.commentsAmount %>条评论</span>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
        <!--分页-->
        <div class="pagination">
          <div id="curr-total-count" class="block curr-total-count"><%= currentPage %> / <%= totalPages %></div>
          <div id="btn-first" class="block">首页</div>
          <div id="btn-prev" class="block">上一页</div>
          <div id="btn-next" class="block">下一页</div>
          <div id="btn-last" class="block">末页</div>
        </div>
      </div>
      <!--右侧边栏-->
      <div class="other-info-wrapper">
        <div>
          <p>相关链接</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/library/jquery3.3.1.min.js"></script>
<script>
  var currentPage = parseInt('<%= currentPage %>')
  var totalPages = parseInt('<%= totalPages %>')
</script>
<script src="/js/home.js"></script>
</body>
</html>
